/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

main{
  display: grid;
  /* gap:.5em; */
  /* justify-items: stretch; */
  /* align-content: start; */
  grid-template-areas: 
        "head head head"
        "content content content"
        "foot foot foot";
  /* grid-template-rows: 50px auto 50px; */
  min-height: 100vh; 
  margin: 0; 
  
  grid-template-rows: auto 1fr auto;
}

header{
  grid-area: head;
  /* background-color: aliceblue; */
}

article {
  grid-area: content;
  max-width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
}
/* aside {
  grid-area: side;
  background-color: aquamarine;
} */
footer {
  grid-area: foot;
  min-height:50px; 
}

